<h2>POST DETAIL</h2>
<div *ngIf="post$ | async as post">
  <h3>"{{ post.title }}"</h3>
  <div>
    <label>Id: </label>{{ post.id }}</div>
  <div>
    <label>Body: </label>
    <input [(ngModel)]="post.body" placeholder="body"/>
  </div>
  <p>
    <button (click)="gotoPostList(post)">Back</button>
  </p>
</div>