<h2>POST-LIST</h2>
<ul class="posts">
    <li *ngFor="let post of posts$ | async" [class.selected]="post.id === selectedId">
        <a [routerLink]="['/posts', post.id]">
            <span class="badge">{{ post.id }}</span>{{ post.title }}
        </a>
    </li>
</ul>